<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listners>
<listner class-name="Academy.E2EProjectPKG.Listners"></listner>
</listners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Acabemy.E2EProjectPKG.HomePage"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
